z-pageroomservicepedido{
  
    .item{
        font-size: 14px;
        p{
            font-size: 12px;
            text-align: justify;
        }
    }

    .titulo{
        font-size: 15px;
        font-weight: bold;
        color:color($colors,primary);
    }
}