page-atencioncliente {
    ion-content{
        background-image:url('.././assets/img/logobackground.png');
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        align-content: center;
        text-align: center;

        h2{
            color:#dc4a38;
        }
    }

}