// Styles for all of the user pages:
// Login, Signup, Support

page-signup {

    .vertical-align-content > *
    {
/*        display: flex!important;
        align-content: center!important;
        align-items: center!important;
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
*/    }

   
/*    ion-item,ion-list,form,form >* {
        margin: 0;
        padding: 0;
        width: 100%;
    }*/

}